body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12pt;
  overflow: none !important; }
  body #print {
    display: block;
    margin-left: 44%;
    position: absolute;
    top: 40pt;
    font-size: 0.75em;
    color: #CCC; }
  body #wrap header h1 {
    font-weight: normal;
    font-size: 1.4em;
    border-bottom: 0.5pt solid #777;
    margin: 0 0 0.5em;
    padding: 0 0 0.25em; }
  body #wrap header nav {
    display: none; }
  body #wrap .slide-deck .slide {
    border: 0.5pt solid #CCC;
    margin: 0.5em 0;
    padding: 0.5em;
    max-width: 40%;
    min-height: 15%;
    display: block;
    page-break-inside: avoid; }
    body #wrap .slide-deck .slide h1 {
      font-weight: normal;
      font-size: 1.1em;
      margin: 0;
      padding: 0 0 0.25em; }
    body #wrap .slide-deck .slide h2 {
      font-weight: normal;
      font-style: italic;
      font-size: 0.9em;
      margin: 0;
      padding: 0 0 0.25em; }
    body #wrap .slide-deck .slide img {
      max-width: 100%;
      height: auto;
      width: auto; }
    body #wrap .slide-deck .slide p, body #wrap .slide-deck .slide ul, body #wrap .slide-deck .slide ol {
      font-size: 0.75em; }
    body #wrap .slide-deck .slide cite {
      font-size: 0.6em; }
    body #wrap .slide-deck .slide blockquote {
      margin: 0.4em 0.5em;
      font-size: 0.825em;
      font-style: italic; }
    body #wrap .slide-deck .slide a:link:after, body #wrap .slide-deck .slide a:visited:after {
      content: " (" attr(href) ") "; }
    body #wrap .slide-deck .slide iframe {
      display: none; }
    body #wrap .slide-deck .slide iframe:after {
      content: " (" attr(src) ") "; }
