@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600);
/* Fonts */
/* Styles */
body {
  font-family: 'Open Sans', Verdana, sans-serif;
  color: #333;
  font-size: 16px;
  text-align: center; }

#main {
  margin: 0 auto;
  padding: 3em 4em;
  text-align: center;
  font-size: 1em; }
  #main h1 {
    text-align: left;
    font-size: 1.8em;
    font-weight: normal;
    font-style: italic;
    border-bottom: 1px solid #333; }
  #main h2 {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    font-weight: normal;
    font-style: italic; }
  #main ul {
    text-align: left;
    margin: 0;
    padding: 0; }
    #main ul li {
      margin: 0 0 0 0.3em;
      padding: 0; }
  #main .error {
    text-align: left;
    font-weight: bold; }
  #main nav {
    display: block;
    font-size: 0.8em;
    margin: 0; }
    #main nav a {
      display: block;
      margin: 0 2px 0 0;
      padding: 0.4em 0.75em;
      text-decoration: none;
      margin-bottom: 0.2em;
      background-color: #4068a4;
      color: #FFF;
      text-align: left;
      max-width: 25em; }
      #main nav a:hover {
        background-color: #333;
        transition: 0.5s;
        -webkit-transition: 0.5s; }

#wrap {
  margin: 0 auto;
  padding: 0 1.5em 1.5em;
  text-align: center;
  font-size: 1em; }
  #wrap header {
    position: fixed;
    right: 1.5em;
    z-index: 9000;
    text-align: right; }
    #wrap header h1 {
      font-size: 0.8em;
      font-weight: normal;
      float: left;
      margin: 0 2px 0 0;
      padding: 0.4em 0.75em;
      text-decoration: none;
      background-color: #999;
      color: #FFF; }
    #wrap header nav {
      display: block;
      font-size: 0.8em;
      margin: 0;
      float: right; }
      #wrap header nav .next, #wrap header nav .prev, #wrap header nav .status {
        display: inline-block;
        margin: 0 2px 0 0;
        padding: 0.4em 0.75em;
        text-decoration: none;
        background-color: #4068a4;
        color: #FFF; }
        #wrap header nav .next:hover, #wrap header nav .prev:hover, #wrap header nav .status:hover {
          background-color: #333;
          transition: 0.5s;
          -webkit-transition: 0.5s; }

.slide-deck {
  text-align: left;
  margin: 0;
  padding: 0; }
  .slide-deck .slide {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Verdana, sans-serif; }
    .slide-deck .slide h1, .slide-deck .slide h2, .slide-deck .slide h3, .slide-deck .slide h4, .slide-deck .slide h5, .slide-deck .slide h6 {
      text-align: left;
      font-weight: normal;
      font-size: 2em;
      margin: 0 0 1em;
      padding: 0; }
    .slide-deck .slide h1 {
      position: relative;
      top: 2.5em;
      padding-bottom: 1em; }
    .slide-deck .slide h2 {
      font-family: 'Open Sans', Verdana, sans-serif;
      font-size: 1.4em;
      font-style: italic;
      border: 0;
      margin-bottom: 0em; }
    .slide-deck .slide h3 {
      font-size: 1.2em;
      margin-top: 0em;
      margin-bottom: 1.5em; }
    .slide-deck .slide a {
      color: #00a3ff;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s; }
      .slide-deck .slide a:hover, .slide-deck .slide a:focus {
        text-decoration: none;
        color: #333; }
    .slide-deck .slide p, .slide-deck .slide ul, .slide-deck .slide ol, .slide-deck .slide span {
      max-width: 36em; }
      .slide-deck .slide p.question, .slide-deck .slide ul.question, .slide-deck .slide ol.question, .slide-deck .slide span.question {
        color: #f1b03d; }
      .slide-deck .slide p p.question, .slide-deck .slide ul p.question, .slide-deck .slide ol p.question, .slide-deck .slide span p.question {
        margin-bottom: 0; }
    .slide-deck .slide blockquote {
      margin: 0 0 0 0em;
      padding: 0;
      font-size: 4em;
      line-height: 1em;
      text-indent: -0.25em;
      max-width: 12em;
      font-family: 'Open Sans', Verdana, sans-serif;
      font-style: italic;
      font-weight: normal;
      color: #333; }
    .slide-deck .slide cite {
      font-size: 0.9em;
      margin-left: 0em; }
    .slide-deck .slide ul, .slide-deck .slide ol {
      margin: 0 0 0 0.5em;
      padding: 0; }
    .slide-deck .slide ul {
      list-style-type: circle; }
    .slide-deck .slide ol {
      list-style-type: lower-latin; }
    .slide-deck .slide form textarea {
      border: 1px solid #333; }
      .slide-deck .slide form textarea.responses {
        width: 36em;
        min-height: 3em;
        font-family: Arial, sans-serif;
        font-size: 0.8em;
        color: #333;
        padding: 0.5em;
        overflow: hidden;
        resize: none; }
      .slide-deck .slide form textarea:focus, .slide-deck .slide form textarea:hover {
        border: 1px solid #fa923d; }
    .slide-deck .slide form .resizer {
      display: none;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;
      width: 36em;
      min-height: 3em;
      font-family: Arial, sans-serif;
      font-size: 0.8em;
      padding: 0.5em; }
    .slide-deck .slide li {
      margin: 0.25em 0 0;
      padding: 0; }
      .slide-deck .slide li.heading {
        list-style-type: none;
        margin: 1.5em 0 0; }
    .slide-deck .slide img {
      max-width: 100%;
      height: auto;
      width: auto;
      margin: 0.5em 0; }
    .slide-deck .slide .whisper {
      color: #efefef;
      transition: 0.5s; }
      .slide-deck .slide .whisper:hover, .slide-deck .slide .whisper:focus {
        color: #AAA; }
    .slide-deck .slide .blink {
      color: #ff9200;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-name: blink;
      animation-name: blink;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: steps(2, start);
      animation-timing-function: steps(2, start); }
    .slide-deck .slide .important {
      color: #ff9200;
      font-weight: bold; }
    .slide-deck .slide .bar {
      display: block;
      width: 36em;
      height: 3em; }
      .slide-deck .slide .bar .piece {
        display: block;
        margin: 0;
        padding: 0 0 0 0.25em;
        height: 100%;
        font-size: 0.8em;
        font-weight: normal;
        text-align: left;
        color: #FFF; }
        .slide-deck .slide .bar .piece:nth-child(1) {
          background-color: #cc780b; }
        .slide-deck .slide .bar .piece:nth-child(2) {
          background-color: #cc380b; }
        .slide-deck .slide .bar .piece:nth-child(3) {
          background-color: #cc0b1f; }
        .slide-deck .slide .bar .piece:nth-child(4) {
          background-color: #cc0b5f; }
        .slide-deck .slide .bar .piece:nth-child(5) {
          background-color: #cc0b9f; }

@keyframes blink {
  80% {
    visibility: hidden; } }

@media screen and (max-width: 40em) {
  #main {
    padding: 1.5em 2em; }
    #main nav {
      font-size: 1em; }

  #wrap header {
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    #wrap header nav, #wrap header h1 {
      margin: 0.2em 0.2em 0 0;
      display: inline-block;
      float: none;
      font-size: 1em; }

  .slide-deck .slide {
    padding: 0 2em !important; }
    .slide-deck .slide h1 {
      line-height: 1.2em;
      padding-bottom: 0.6em; }
    .slide-deck .slide h2 {
      line-height: 1em;
      padding-top: 0.5em; } }
@media screen and (max-width: 385px) {
  #wrap header {
    overflow: hidden !important; }

  .deck-child-current .slide {
    overflow: hidden; } }
